/****************** GENERAL ******************/
body {
    padding-top: 133px;
}
body#page-1 {
    padding: 0;
}
@media(max-width: 991px){
    body {
        padding-top: 80px;
    }
}
body:not(#page-1) {
    background: url("../images/page-header.jpg") no-repeat center 0;
}
h1, h2, h3, .h1, .h2, .h3, .widget-title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 4px;
}
h1, .h1 {
    font-weight: 400;
}
h3, .h3, .widget-title {
    font-size: 18px;
    margin-top: 0;
}
/****************** HEADERS ******************/
header, header * {
    transition: all 0.3s;
}
.navbar-header {
    float: none;
}
.navbar-brand,
.fixed .navbar-brand {
    display: block;
    height: auto;
    padding: 10px 0;
    width: auto;
    margin: 0;
    text-align: left;
    clear: none;
}
@media (max-width: 1199px) {
    .navbar-brand img {
        max-height: 105px;
    }
}
@media (min-width: 1200px) {
    .navbar-brand img {
        max-height: 140px;
    }
}
@media (min-width: 992px) {
    body:not(#page-1) header:not(.fixed) .navbar-brand img {
        max-height: 105px;
    }
    #mainMenu, #secondMenu {
        margin-top: 16px;
    }
    #page-1 header:not(.fixed) .navbar-brand {
        float: none;
        margin: 100px auto 0 auto;
        text-align: center;
        clear: both;
        width: 180px;
    }
}
.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
 /*   font-family: "Montserrat";*/
}
.navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 0;
}
.nav > li > a {
    padding-left: 0;
    padding-right: 0;
}
.nav > li.primary {
    padding-left: 15px;
    padding-right: 15px;
}
.nav > li.primary.btn-nav {
    padding-right: 0;
}
ul.navbar-nav > li.primary > a.firstLevel {
    text-transform: uppercase;
    padding-bottom: 0;
    line-height: 34px;
    font-size: 12px;
}
@media (min-width: 1500px) {
    ul.navbar-nav > li.primary > a.firstLevel {
        letter-spacing: 2px;
    }
}
@media (min-width: 992px) and (max-width: 1040px) {
    .nav > li:not(.btn-nav){
        padding-left: 8px;
        padding-right: 8px;
    }
}
.page-header h1, .page-header p.h1 {
    font-size: 29px;
}
#mainMenu, #secondMenu {
    text-align: left;
    float: right;
}
body[dir="rtl"] #mainMenu,
body[dir="rtl"] #secondMenu {
    text-align: right;
    float: left;
}
#page-1 #mainMenu {
    text-align: center;
}
#mainMenu,
#mainMenu .navbar-nav,
#secondMenu,
#secondMenu .navbar-nav {
    position: relative;
    z-index: 1;
}
@media (max-width: 991px) {
    #page-1 .navbar-brand {
        display: block;
        height: auto;
        padding: 10px 0;
        width: auto;
        margin: 0;
        text-align: left;
        clear: none;
    }
    .navbar-brand img,
    .fixed .navbar-brand img,
    #page-1 .navbar-brand img,
    #page-1 .fixed .navbar-brand img {
        max-height: 60px;
        margin: 0;
    }
    #mainMenu {
        position: absolute;
        top: 80px;
        width: 100%;
        margin-top: 0;
        border-top: none;
    }
    #secondMenu .navbar-nav,
    #mainMenu .navbar-nav {
        display: block;
    }
    #mainMenu .navbar-nav li:last-child {
        border-bottom: none;
    }
    ul.navbar-nav > li.primary > a.firstLevel.active, ul.navbar-nav > li.primary > a.firstLevel:hover, ul.navbar-nav > li.primary > a.firstLevel:focus {
        border-bottom: none;
    }
	#secondMenu .navbar-nav>li {
		float: right;
	}
}
ul.navbar-nav > li.primary .dropdown > a,
ul.navbar-nav > li.primary .dropdown {
    line-height: 32px;
}
ul.navbar-nav > li.primary .dropdown-menu {
    max-width: 320px;
    width: auto;
    white-space: nowrap;
}
.dropdown-menu-right {
    float: right !important;
    right: 0;
    left: auto !important;
}
ul.navbar-nav > li.primary .dropdown-menu li a {
    line-height: 12px;
    font-weight: 400;
}
#secondMenu .searchWrapper {
    margin: 0;
}
#secondMenu .searchWrapper .form-control {
    width: 160px;
}
#secondMenu .searchWrapper .form-control, #secondMenu .searchWrapper button {
    padding: 0 12px;
    height: 44px;
    line-height: 44px;
}
.navbar-fixed-top.fixed {
    z-index: 1031;
}
/***************** BOOTSTRAP *****************/
.btn {
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 3px;
}
.btn-number {
    padding: 2px;
}
.input-number {
    padding: 2px;
    height: 34px;
    text-align: center;
}
label small {
    font-weight: 400;
}
/*************** ROYAL SLIDER ****************/
#sliderContainer {
    position: relative;
}
.fullSized.royalSlider {
    height: 900px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.royalSlider .infoBlock {
    top: 30%;
    background-color: rgba(0, 0, 0, 0.35);
}
.royalSlider .infoBlock h1 {
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}
.royalSlider .infoBlock h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-transform: none;
}
.royalSlider .infoBlock a {
    text-decoration: none;
}
@media (max-width: 991px) {
    .royalSlider .infoBlock h1 {
        font-size: 30px;
    }
    .royalSlider .infoBlock h2 {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .royalSlider .infoBlock {
        top: 20%;
    }
    .royalSlider .infoBlock h1 {
        font-size: 24px;
    }
    .royalSlider .infoBlock h2 {
        font-size: 22px;
    }
}
/************** BOOKING SEARCH ***************/
.booking-search {
    padding: 0 8px;
}
.booking-search [class^="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}
#search-home-wrapper {
    position: absolute;
    z-index: 1030;
    top: 60%;
    width: 100%;
}
@media (max-width: 991px) {
    #search-home-wrapper {
        bottom: 7%;
        top: auto;
        z-index: 900;
    }
}
#search-home {
    padding: 7px 12px;
    text-align: center;
    border-radius: 4px;
}
#search-page .container {
    padding: 30px;
}
.booking-search [class^="col-"] {
    padding: 1px!important;
    margin: 0!important;
}
.booking-search .form-group {
    padding: 0px!important;
    margin: 0!important;
}
.booking-search .form-control {
    height: 52px;
}
.booking-search .btn {
    line-height: 2.70;
}
.booking-search .btn-primary {
    font-weight: bold;
}
.ui-datepicker {
    z-index: 9999!important;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    max-height: 288px!important;
}
.bootstrap-select.btn-group .dropdown-menu {
    max-height: 300px!important;
}
/************ ISOTOPE / PORTFOLIO ************/
.isotopeInner {
	border-radius: 6px;
}
.isotopeContent {
    padding: 20px;
}
.isotopeContent p,
.isotopeContent h3,
.isotopeContent h4 {
    text-align: center;
}
.isotopeContent h3 {
    font-size: 20px;
    margin-top: 0;
}
/******************* FOOTER ******************/
footer {
    position: relative;
    z-index: 100;
}
footer h3, footer .widget-title {
    margin-bottom: 20px;
}
footer .searchWrapper {
    margin-bottom: 10px;
}
footer .searchWrapper, footer .dropdown, footer .dropup {
    height: 44px;
    margin-right: 20px;
    margin-left: 0;
}
@media(min-width: 768px){
    footer .widget.footer-form {
        width: 66.6667%;
    }
}
/*************** MISCELLANEOUS ***************/
aside h3 {
    font-size: 16px;
}
aside h4 {
    font-size: 14px;
}
.more-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
}
.more-content h3 {
    position: relative;
    top: 36%;
    z-index: 1;
    font-weight: 200;
    font-size: 16px;
    padding: 10px;
    display: block;
    text-transform: none;
    background-color: #2037527a;
}
.more-link:hover .more-content h3 {
    font-size: 20px;
    top: 18%;
}
.more-content .more-descr {
    position: absolute;
    bottom: 5px;
    right: -15px;
    z-index: 1;
    line-height: 20px;
    font-weight: 200;
    font-size: 18px;
    padding: 10px;
    text-transform: none;
    border-radius: 15px;
}
.more-content .more-descr .price span {
    font-size: 20px;
}
.more-link:hover .more-content .more-descr {
    bottom: 60px;
    right: 0;
    width: 100%;
    background: none;
    -webkit-transition: all 0.3s ease, background 0s;
            transition: all 0.3s ease, background 0s;
}
.text-overflow {
    min-height: 108px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.more-btn {
    background: url("../images/more-bg.png") repeat-x 0 bottom;
    position: absolute;
    bottom: 0;
    padding-top: 60px;
    width: 100%;
    height: 108px;
    text-align: center;
}
.articleFocus h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.boxed {
    padding: 20px;
    border-radius: 6px;
}
/************* BOOKING RESULTS ***************/
#booking-summary .col-md-6 {
    padding: 30px;
}
#booking-summary big,
#booking-summary p.lead {
    font-size: 20px;
}
.facility-icon {
    border-radius: 5px;
    display: inline-block;
    margin: 2px 2px 2px 0;
    padding: 5px;
    width: 31px;
    height: 31px;
    text-align: center;
}
.facility-icon a {
    display: block;
    width: 19px;
    height: 19px;
    line-height: 19px;
    float: left;
}
.facility-icon img {
    width: 19px;
    height: 19px;
    display: block;
    opacity: 0.7;
}
.booking-result {
    position: relative;
    padding-bottom: 0;
}
.booking-result > .row:first-child {
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    border-radius: 6px;
}
.booking-result .img-container {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.booking-result > .row:first-child > [class*="col-"] {
    padding-left: 20px;
    padding-right: 20px;
}
.booking-result > .row:first-child > [class*="col-"]:first-child {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
    .booking-result > .sep {
        height: 245px;
    }
}
.img-container {
    border-radius: 0;
}
@media (max-width: 991px) {
    .booking-result .img-container.md {
        margin-bottom: 10px;
    }
}
.booking-result .btn-danger,
.booking-result .btn-default {
    text-transform: none;
}
.img-container,
.hb-calendar:not(.loaded) {
    background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll center center;
}
@media (min-width: 768px){
    .activity-result .sep {
        display: table;
    }
    .checkbox-container {
        display: table-cell;
        vertical-align: middle;
    }
}
.checkbox-container {
    width: 30px;
    height: 30px;
    margin: 10px auto;
}
.checkbox-icon {
    border-radius: 50%;
    cursor: pointer;
    font-weight: normal;
    height: 30px;
    margin: 0;
    padding: 2px;
    width: 30px;
}
.activity-result .checkbox-icon:before {
    content: "";
    display: block;
    font-family: "Font Awesome 5 Free";
    font-size: 22px;
    height: 100%;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.booking-result .legend {
    padding: 6px 8px;
    font-weight: bold;
    display: block;
    text-align: center;
}
.activity-result .amount {
    font-size: 22px;
}
.activity-result .hb-d-start,
.activity-result .hb-d-end {
    background: #EA8A8A!important;
}
.activity-result .hb-day.hb-d-free {
    cursor: pointer;
}
.activity-result .hb-day.hb-d-free:hover,
.session-date-caption:hover {
    background: #4edb87!important;
    color: #fff;
}
.activity-result .hb-day.hb-d-free.active,
.session-date-caption.active {
    background: #FF9600!important;
    color: #fff;
}
.input-group-sm select.form-control,
.input-group-sm .input-group-addon {
    padding: 5px 6px;
}
.session-date-input {
    display: none;
}
.session-date-caption {
    padding: 5px 8px;
    background-color: #a6e0bf;
    cursor: pointer;
    font-weight: normal;
}
@media(max-width: 767px){
    .activity-data {
        display: none;
    }
    .activity-result.active .activity-data {
        display: block;
    }
}
@media(min-width: 768px){
    .activity-data {
        visibility: hidden;
    }
    .activity-result.active .activity-data {
        visibility: visible;
    }
}
.activity-result.active .activity-data {
    visibility: visible;
}
.price span {
    font-weight: 600;
    font-size: 26px;
}
.isotopeContent .price span {
    font-size: 20px;
}
#booking-breadcrumb {
    text-align: center;
}
#booking-breadcrumb .breadcrumb-item {
    padding: 20px;
}
#booking-breadcrumb span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}
#booking-breadcrumb svg {
    width: 40px;
    height: 40px;
}
/*********** LOG IN / SIGN UP FORMS **********/
a.fblogin {
    background: linear-gradient(#2953ad, #234ca2);
    color: #fff;
    font-weight: bold;
}
a.fblogin:hover {
    color: #fff;
}
#user-popup {
    max-width: 450px;
}
/**************** PAYMENT FORM ***************/
button[name="payment_type"] {
    min-width: 160px;
    padding: 20px;
    line-height: 1.5;
    min-height: 130px;
}
button[name="payment_type"] svg {
    height: 40px!important;
    width: 40px!important;
}
button[name="payment_type"] .fa-paypal {
    color: #00447E;
}
button[name="payment_type"] .fa-credit-card {
    color: #3787DC;
}
button[name="payment_type"] .fa-envelope {
    color: #B9252B;
}
button[name="payment_type"] .fa-building {
    color: #FF9900;
}
/**************** BOOKING CART ***************/
#booking-cart {
    position: fixed;
    top: 85px;
    right: 15px;
    z-index: 1050;
    opacity: 0.8;
    background: #212121;
    color: #fff;
}
#booking-cart:hover {
    opacity: 1;
}
#booking-cart .img-container {
    margin-right: 15px;
}
