.widget_bot {
	display: none;
	width: 355px;
	right: 15px;
	height: 530px;
	bottom: 5%;
	position: fixed;
	background: #f6f6f6;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 2px 10px 1px #b5b5b5;
	z-index: 99999;
	overflow:hidden;
}

@media screen and (max-height: 560px) {
	.widget_bot {
		display: none;
		width: 355px;
		right: 15px;
		height: 400px;
		bottom: 5%;
		position: fixed;
		background: #F6F6F6;
		border-radius: 10px 10px 10px 10px;
		box-shadow: 0px 2px 10px 1px #B5B5B5;
		z-index: 99999;
		overflow:hidden;
	}
}

.chat_header {
	height: 10%;
	background: #333;
	/* #6072e6 */
	border-radius: 10px 10px 0px 0px;
	padding: 10px;
	font-size: 22px;
}

.chats {
	height: 400px;
	padding: 7px;
	margin-top: 5px;
	border-radius: 1px;
	overflow-y: scroll;
	transition: 0.2s;
	background-color: #ffffff;
}

div.chats::-webkit-scrollbar {
	width: 0px;
	/* remove scrollbar space /
    background: transparent;
    / optional: just make scrollbar invisible */
}


/* Track */

div.chats::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}


/* Handle */

div.chats::-webkit-scrollbar-thumb {
	background: #647aed;
}


/* Handle on hover */

div.chats::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}

#close {
	cursor: pointer;
}

.clearfix {
	margin-top: 2px;
	margin-bottom: 2px;
}

.message {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 0;
	margin-left: 0;
}

.botAvatar {
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	float: left;
	margin-left: 5px;
	border: 2px solid #b4d342;
}

.botMsg {
	float: left;
	margin-top: 5px;
	background: #F5F5F5;
	box-shadow: 2px 5px 5px 1px #efeef5;
	border: 1px solid #ffffff;
	margin-left: 0.1em;
	padding: 0.1em 1em;
	border-radius: 1.5em;
	max-width: 55%;
	min-width: 25%;
	font-size: 12px;
	word-wrap: break-word;
}

.userMsg {
	animation: animateElement linear 0.2s;
	animation-iteration-count: 1;
	margin-top: 5px;
	word-wrap: break-word;
	padding: 0.6em 1em;
	float: right;
	margin-right: 0.5em;
	background: #b4d342;
	border: 1px solid #b4d342;
	color: #333;
	border-radius: 1.5em;
	margin-bottom: 0.15em;
	font-size: 12px;
	max-width: 55%;
	min-width: 25%;
	line-height: 1.5em;
}

.userAvatar {
	animation: animateElement linear 0.3s;
	animation-iteration-count: 1;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	float: right;
	margin-right: 5px;
	border: 2px solid #333;
}

.singleCard {
	/* height: 200px; */
	padding-left: 10%;
	padding-right: 10px;
}

.suggestions {
	padding: 5px;
	width: 80%;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 2px 5px 5px 1px #dbdade;
}

.cardsImage {
	width: 100%;
	height: 80%;
	border-radius: 10px 10px 0px 0px;
}

.keypad {
	height: 45px;
	position: absolute;
	bottom: 10px;
	width: 320px;
}

.usrInput {
	background: #f1f0f0;
	padding: 0.5em;
	width: 90%;
	margin-left: 4%;
	border-radius: 20px;
	box-shadow: 0px 2px 10px 1px #b5b5b5;
	border: 0;
	padding-left: 15px;
	height: 40px;
}

input:focus {
	outline: none;
}

video:focus {
	outline: none;
}

.menuTitle {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.menu {
	padding: 5px;
}

.menuChips {
	display: block;
    background: #b4d342;
    color: #803a26;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 12px;
	word-wrap: break-word;
}

.imgcard {
	object-fit: cover;
	width: 80%;
	height: 90%;
	border-radius: 10px 10px 10px 10px;
	margin-left: 1%;
}

.chip {
	background-color: #6072e6;
	color: #fff;
	font-weight: normal;
	font-weight: 0;
	text-align: center;
}

@keyframes animateElement {
	0% {
		opacity: 0;
		transform: translate(0px, 10px);
	}
	100% {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.imgProfile {
	box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 rgba(0, 0, 0, 0.12);
	background: #333;
	border-radius: 50px;
	width: 60%;
	padding: 3%;
}

.profile_div {
	/* display: none; */
	
	position: fixed;
	padding: 5px;
	width: 10%;
	bottom: 0;
	right: 0;
	cursor: pointer;
	z-index:1000;
}
@media screen and (max-width: 992px) {
	.profile_div {
		/* display: none; */
		
		position: fixed;
		padding: 5px;
		width: 100px;
		bottom: 0;
		right: 0;
		cursor: pointer;
		z-index:1000;
	}
}

.profileIcon {
	height: 15%;
	align-items: center;
	float: left;
	margin-right: 10px;
}

.custom-container{
	box-shadow:2px 2px 2px #d3d3d3; 
	width:95%;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:10px;
	padding:0px;
}

.sendChips {
	display: block;
    background: #b4d342;
    color: #803a26;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 12px;
	word-wrap: break-word;
}

.sendEventChips {
	display: block;
    background: #b4d342;
    color: #803a26;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 12px;
	word-wrap: break-word;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.carousel.carousel-slider {
    top: 0;
    left: 0;
}
.carousel.carousel-slider .carousel-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 1;
}
.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    bottom: 68px;
}
.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel.carousel-slider .carousel-item h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}
.carousel.carousel-slider .carousel-item p {
    font-size: 15px;
}
.carousel .carousel-item {
    visibility: hidden;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.carousel .carousel-item>img {
    width: 100%;
}
.carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
.carousel .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}
.carousel .indicators .indicator-item.active {
    background-color: #fff;
}
.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
}